<div class='mt-5'>
    <div class='mx-auto max-w-[24rem] space-y-2'>
        <h1 class='font-medium text-2xl text-gray-700'>Success!</h1>
        <p class='text-body text-sm'>A reset password link has been sent to your
            email address.
        </p>
    </div>
</div>