<div class='relative alert {{#if type}}alert--{{type}}{{/if}}'>{{message}}
    <ion-icon id="close-icon" class="absolute top-1/2 -translate-y-1/2 right-2 text-xl cursor-pointer"
        name="close-circle-outline"></ion-icon>
</div>