<div class="password-hint" style="display: none;">
    <div class="hints">
        <div class="title">Password must contain the following</div>
        <p class="lower-letter">
            <ion-icon name="checkmark-outline"></ion-icon>
            <span>1 Lowercase letter</span>
        </p>
        <p class="upper-letter">
            <ion-icon name="checkmark-outline"></ion-icon>
            <span>1 Uppercase letter</span>
        </p>
        <p class="special-char">
            <ion-icon name="checkmark-outline"></ion-icon>
            <span>1 Special characater</span>
        </p>
        <p class="number-char">
            <ion-icon name="checkmark-outline"></ion-icon>
            <span>1 Digit</span>
        </p>
        <p class="longer-than">
            <ion-icon name="checkmark-outline"></ion-icon>
            <span>Must be longer than 8 characters</span>
        </p>
    </div>
</div>

<div class="confirm-password-hint" style="display: none;">
    <div class="confirm-hints">
        <p class="same-password">
            <ion-icon name="checkmark-outline"></ion-icon>
            <span>Needs to be the same as password</span>
        </p>
    </div>
</div>