<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;700&display=swap'
    rel='stylesheet' />
  <title>Elykp</title>
  <script src='/js/jquery.min.js' type='text/javascript'></script>
</head>

<body>
  <div class='h-screen flex'>
    <div class='md:max-w-[32rem] w-full bg-slate-100'>
      <img class="mt-48 mb-10 w-64 mx-auto" src="/images/logo.png" alt="logo" />
      {{{body}}}
    </div>
    <div class='background hidden md:block'></div>
  </div>
  <script src='/dist/bundle.js'></script>
  <script type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'></script>
</body>

</html>