<div class="mt-5">
    {{#if success}}
    <div class="text-center">A reset password link has been sent to your email address</div>
    {{else}}
    <div class="mx-auto max-w-[26rem] p-5 bg-white shadow rounded">
        {{#if error}}
        <div class="alert alert--error mb-4">{{error}}</div>
        {{/if}}
        <div class="font-medium text-xl mb-4">Forgot your password?</div>
        <form action="forgot-password" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email">
            </div>
            <div class="form-group mt-5">
                <button class="button">Request password reset</button>
            </div>
        </form>
    </div>
    {{/if}}
</div>