<div class="mx-auto mt-5 max-w-[26rem] p-5 bg-white shadow rounded">
    {{#if error}}
    <div class="alert alert--error mb-4">{{error}}</div>
    {{/if}}
    <form action="login" method="post">
        <input type="hidden" name="returnUrl" value="{{returnUrl}}">
        <div class="form-group">
            <label for="usernameOrEmail">Username or email</label>
            <input class="form-control" type="text" name="usernameOrEmail">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password">
        </div>
        <a class="inline-block text-sm text-blue-500 hover:text-blue-400 cursor-pointer" href="/forgot-password">Forgot
            password?</a>
        <div class="form-group mt-5">
            <button class="button">Login</button>
        </div>
    </form>
</div>