<div class="container">
  <div class="main">
    {{#if success}}
    <div>Reset password success</div>
    {{else}}
    <form class="form" action="reset-password" method="post">
      {{#if error}}
      <p class="alert alert--error" style="margin-bottom: 1rem;">{{error}}</p>
      {{/if}}
      <input type="hidden" name="code" value="{{code}}">
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="text" name="email" value="{{email}}"></input>
      </div>

      <div class="form-group">
        <label for="password">New password:</label>
        <input class="form-control" type="password" name="password" autocomplete="off"></input>
      </div>
      <div class="form-group">
        <label for="passwordConfirmation">Confirm password:</label>
        <input class="form-control" type="password" name="confirmPassword" autocomplete="off"></input>
      </div>
      <div class="form-group">
        <button class="button reset-btn button--disabled" type="submit">Reset password</button>
      </div>
    </form>
    {{/if}}
  </div>
  <div class="background"></div>
  {{> password_hint}}
</div>