<div class="mt-5">

  {{#if success}}
  <div class="text-center">Reset password success</div>
  {{else}}
  <div class="mx-auto mt-5 max-w-[26rem] p-5 bg-white shadow rounded">
    <form action="reset-password" method="post">
      {{#if error}}
      <p class="alert alert--error mb-4">{{error}}</p>
      {{/if}}
      <div class="font-medium text-xl mb-4">Reset your password</div>

      <input type="hidden" name="code" value="{{code}}">
      <div class="form-group">
        <label for="email">Email:</label>
        <input readonly="true" class="form-control" type="text" name="email" value="{{email}}"></input>
      </div>
      <div class="form-group">
        <label for="password">New password:</label>
        <input class="form-control" type="password" name="password" autocomplete="off"></input>
      </div>
      <div class="form-group">
        <label for="passwordConfirmation">Confirm password:</label>
        <input class="form-control" type="password" name="confirmPassword" autocomplete="off"></input>
      </div>
      <div class="form-group">
        <button class="button reset-btn button--disabled" type="submit">Reset password</button>
      </div>
    </form>
  </div>
  {{/if}}
  {{> password_hint}}
</div>