@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f4f6f9;
}

.background {
  flex: 1;
  background: url('https://images.unsplash.com/photo-1664575196412-ed801e8333a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80')
    no-repeat center;
  background-size: cover;
}

.main {
  max-width: 32rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.form {
  max-width: 24rem;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 1.5rem;
  border: 1px solid #ebebeb;
}

form > .form-group + .form-group {
  margin-top: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-group > label {
  font-size: 0.8rem;
  color: #8f8f8f;
}

.form-control {
  padding: 0.6rem 0.6rem;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  outline: none;
  font-family: 'Roboto';
  font-size: 0.9rem;
}

.form-control:focus {
  outline: 2px solid #dbdbff;
}

.button {
  padding: 0.6rem 0.6rem;
  border: none;
  border-radius: 4px;
  background-color: #3b82f6;
  color: #ffffff;
  font-family: 'Roboto';
  text-transform: capitalize;
  transition: background-color 0.2s ease;
}

.button--disabled {
  pointer-events: none;
  background-color: #b7b7b7;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(72, 139, 247, 0.9);
}

.button:focus {
  outline: 2px solid #e0e0fd;
}

.alert {
  padding: 0.6rem 0.6rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.alert--error {
  background-color: #ef4444;
  color: #fff;
}

.password-hint,
.confirm-password-hint {
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  box-shadow: 5px 5px 10px -5px #9f9f9f;
}

.password-hint .title {
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.confirm-password-hint p,
.password-hint p {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-size: 0.8rem;
}

.confirm-password-hint p ion-icon,
.password-hint p ion-icon {
  font-size: 1.1rem;
}

.confirm-password-hint p ion-icon,
.password-hint p ion-icon {
  color: #2e2e2e;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
}

.confirm-password-hint p.valid,
.password-hint p.valid,
.confirm-password-hint p.valid ion-icon,
.password-hint p.valid ion-icon {
  color: #7cbd1b;
}
