<html lang="en">
  <head>
    <title>Email verification</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      html {
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
      }
    </style>
  </head>

  <body>
    <table
      style="
        border-collapse: collapse;
        table-layout: fixed;
        border-spacing: 0;
        vertical-align: top;
        min-width: 320px;
        margin: 0 auto;
        background-color: #e7e7e7;
        width: 100%;
      "
      cellpadding="0"
      cellspacing="0"
    >
      <tbody>
        <tr style="vertical-align: top">
          <td
            style="
              word-break: break-word;
              border-collapse: collapse !important;
              vertical-align: top;
            "
          >
            <div style="padding: 0px; background-color: rgba(255, 255, 255, 0)">
              <div
                style="
                  margin: 0 auto;
                  min-width: 320px;
                  max-width: 550px;
                  word-wrap: break-word;
                  word-break: break-word;
                  background-color: transparent;
                "
              >
                <div
                  style="
                    border-collapse: collapse;
                    display: table;
                    width: 100%;
                    background-color: transparent;
                  "
                >
                  <div
                    style="
                      max-width: 320px;
                      min-width: 550px;
                      display: table-cell;
                      vertical-align: top;
                    "
                  >
                    <div style="width: 100% !important">
                      <div
                        style="
                          padding: 0px;
                          border-top: 0px solid transparent;
                          border-left: 0px solid transparent;
                          border-right: 0px solid transparent;
                          border-bottom: 0px solid transparent;
                        "
                      >
                        <table
                          style="font-family: arial, helvetica, sans-serif"
                          role="presentation"
                          cellpadding="0"
                          cellspacing="0"
                          width="100%"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="
                                  word-break: break-word;
                                  padding: 20px;
                                  font-family: arial, helvetica, sans-serif;
                                "
                                align="left"
                              >
                                <table
                                  width="100%"
                                  cellpadding="0"
                                  cellspacing="0"
                                  border="0"
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        style="
                                          padding-right: 0px;
                                          padding-left: 0px;
                                        "
                                        align="center"
                                      >
                                        <a
                                          href="https://unlayer.com"
                                          target="_blank"
                                          data-saferedirecturl="https://www.google.com/url?q=https://unlayer.com&amp;source=gmail&amp;ust=1669634118378000&amp;usg=AOvVaw2-JEVnH8Lkai7ads5mPfmc"
                                        >
                                          <img
                                            align="center"
                                            border="0"
                                            src="https://ci6.googleusercontent.com/proxy/HKxqbTnPnxgbggP1yp9NLQYR7HuAq4bXZhaD4spY4ncHo_OlKE69htUPNcBh6yaqW9gSOZreRYPdP7Z0S0oZcoKOb1TUj3-4fpCYmiNDgOyV9tYkwoE9JPTe12vD=s0-d-e1-ft#https://sendable-images-production.s3.amazonaws.com/1509394207213-logo.png"
                                            alt="Unlayer Logo"
                                            title="Unlayer Logo"
                                            style="
                                              outline: none;
                                              text-decoration: none;
                                              clear: both;
                                              display: block !important;
                                              border: none;
                                              height: auto;
                                              float: none;
                                              width: 100%;
                                              max-width: 200px;
                                            "
                                            width="200"
                                            data-bit="iit"
                                          />
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="padding: 0px; background-color: rgba(255, 255, 255, 0)">
              <div
                style="
                  margin: 0 auto;
                  min-width: 320px;
                  max-width: 550px;
                  word-wrap: break-word;
                  word-break: break-word;
                  background-color: #ffffff;
                "
              >
                <div
                  style="
                    border-collapse: collapse;
                    display: table;
                    width: 100%;
                    background-color: #ffffff;
                  "
                >
                  <div
                    style="
                      max-width: 320px;
                      min-width: 550px;
                      display: table-cell;
                      vertical-align: top;
                    "
                  >
                    <div style="width: 100% !important">
                      <div
                        style="
                          padding: 0px;
                          border-top: 0px solid transparent;
                          border-left: 0px solid transparent;
                          border-right: 0px solid transparent;
                          border-bottom: 0px solid transparent;
                        "
                      >
                        <table
                          style="font-family: arial, helvetica, sans-serif"
                          role="presentation"
                          cellpadding="0"
                          cellspacing="0"
                          width="100%"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="
                                  word-break: break-word;
                                  padding: 20px;
                                  font-family: arial, helvetica, sans-serif;
                                "
                                align="left"
                              >
                                <div
                                  style="
                                    color: #000;
                                    line-height: 160%;
                                    text-align: left;
                                    word-wrap: break-word;
                                  "
                                >
                                  <p style="line-height: 160%; font-size: 14px">
                                    Hi, {{ username }}
                                  </p>
                                  <p style="line-height: 160%; font-size: 14px">
                                    &nbsp;
                                  </p>
                                  <p style="line-height: 160%; font-size: 14px">
                                    Please click the button below to verify your
                                    email
                                  </p>
                                  <p style="line-height: 160%; font-size: 14px">
                                    <a
                                      href="{{ link }}"
                                      style="
                                        display: block;
                                        margin: 1rem auto;
                                        width: fit-content;
                                        padding: 1rem 2rem;
                                        text-align: center;
                                        text-decoration: none;
                                        font-weight: 600;
                                        background-color: #139dfe;
                                        color: white;
                                        border-radius: 4px;
                                      "
                                    >
                                      Verify email
                                    </a>
                                  </p>
                                  <p style="line-height: 160%; font-size: 14px">
                                    Alternatively, you can directly paste this link in you browser
                                  </p>
                                  <a 
                                    style="line-height: 160%; font-size: 14px"
                                    href="{{ link }}"
                                  >
                                    {{ link }}
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="padding: 0px; background-color: rgba(255, 255, 255, 0)">
              <div
                style="
                  margin: 0 auto;
                  min-width: 320px;
                  max-width: 550px;
                  word-wrap: break-word;
                  word-break: break-word;
                  background-color: #ffffff;
                "
              >
                <div
                  style="
                    border-collapse: collapse;
                    display: table;
                    width: 100%;
                    background-color: #ffffff;
                  "
                >
                  <div
                    style="
                      max-width: 320px;
                      min-width: 550px;
                      display: table-cell;
                      vertical-align: top;
                    "
                  >
                    <div style="width: 100% !important">
                      <div
                        style="
                          padding: 0px;
                          border-top: 0px solid transparent;
                          border-left: 0px solid transparent;
                          border-right: 0px solid transparent;
                          border-bottom: 0px solid transparent;
                        "
                      >
                        <table
                          style="font-family: arial, helvetica, sans-serif"
                          role="presentation"
                          cellpadding="0"
                          cellspacing="0"
                          width="100%"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="
                                  word-break: break-word;
                                  padding: 20px;
                                  font-family: arial, helvetica, sans-serif;
                                "
                                align="left"
                              >
                                <div
                                  style="
                                    color: #000;
                                    line-height: 160%;
                                    text-align: left;
                                    word-wrap: break-word;
                                  "
                                >
                                  <p style="font-size: 14px; line-height: 160%">
                                    Please do not reply to this email.
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              style="padding: 10px; background-color: rgba(255, 255, 255, 0)"
            >
              <div
                style="
                  margin: 0 auto;
                  min-width: 320px;
                  max-width: 550px;
                  word-wrap: break-word;
                  word-break: break-word;
                  background-color: transparent;
                "
              >
                <div
                  style="
                    border-collapse: collapse;
                    display: table;
                    width: 100%;
                    background-color: transparent;
                  "
                >
                  <div
                    style="
                      max-width: 320px;
                      min-width: 550px;
                      display: table-cell;
                      vertical-align: top;
                    "
                  >
                    <div style="width: 100% !important">
                      <div
                        style="
                          padding: 0px;
                          border-top: 0px solid transparent;
                          border-left: 0px solid transparent;
                          border-right: 0px solid transparent;
                          border-bottom: 0px solid transparent;
                        "
                      >
                        <table
                          style="font-family: arial, helvetica, sans-serif"
                          role="presentation"
                          cellpadding="0"
                          cellspacing="0"
                          width="100%"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="
                                  word-break: break-word;
                                  padding: 20px;
                                  font-family: arial, helvetica, sans-serif;
                                "
                                align="left"
                              >
                                <div
                                  style="
                                    color: #999999;
                                    line-height: 120%;
                                    text-align: left;
                                    word-wrap: break-word;
                                  "
                                >
                                  <p style="font-size: 14px; line-height: 120%">
                                    <span
                                      style="
                                        font-size: 12px;
                                        line-height: 14.4px;
                                      "
                                      >elykp.com&nbsp;ⓒ 2022</span
                                    >
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
